{% load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <link rel="stylesheet" href="/static/css/style.css">

        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

        <title>Responsive Registration Form</title>

    </head>
    <body>
        <div class="container">
            <header>Edit Employee Detail</header>

            <form method="post">
                {% csrf_token %}

                <div class="form first">
                    <div class="details">
                        <span class="title">Personal Details</span>

                        <div class="fields">
                            <div class="input-field">
                                <label>First Name</label>
                                <input type="text" placeholder="Enter your First name" name="firstname" value="{{employee.user.first_name}}"  required>
                            </div>
                            <div class="input-field">
                                <label>Last Name</label>
                                <input type="text" placeholder="Enter your Last name" name="lastname" value="{{employee.user.last_name}}"  required>
                            </div>
                        
                            <div class="input-field">
                                <label>Date of Birth[{{employee.DOB}}]</label>
                                <input type="date" name="DOB" placeholder="Enter your birth date" value="{{employee.DOB}}" >
                            </div>
                            <div class="input-field">
                                <label>Email</label>
                                <input type="text" placeholder="Enter your email" pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" value="{{employee.user.username}}" readonly required>
                            </div>

                            <div class="input-field">
                                <label>Alternative Email</label>
                                <input type="text" placeholder="Enter your Alternative email" name="altemail" pattern="/^([a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,})$/" value="{{employee.altemail}}">
                            </div>

                            <div class="input-field">
                                <label>Mobile Number</label>
                                <input type="text" placeholder="Enter your Mobile Number" name="mob" value="{{employee.mob}}" pattern="[0-9]+" required>
                
                            </div>
                        
                            <div class="input-field">
                                <label>Alternative Number</label>
                                <input type="text" name="altmob" placeholder="Enter your Alternative Number" value="{{employee.altmob}}" pattern="[0-9]+">
                            </div>
                            <div class="input-field">
                                <label>Gender[{{employee.gender}}]</label>
                                <select name="gender" class="form-control" value="{{employee.gender}}" required>
                                    <option value="None">Select Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>

                    
                            <div class="input-field">
                                <label>Aadhar Number</label>
                                <input type="text" name="adhar" placeholder="Enter your Aadhar Number" pattern=".{12}" value="{{a}}" required>   
                            </div>

                            <div class="input-field">
                                <label>Pan Number</label>
                                <input type="text" name="pan" value="{{p}}" pattern=".{10}" placeholder="Enter your Pan Number" required>
                            </div>   
                        
                            <div class="input-field">
                                <label>Marital Status[{{employee.mstatus}}]</label>
                                <select name="marital Status" class="form-control" value="{{employee.mstatus}}" required >
                                    <option value="None">Select Your Marital Status</option>
                                    <option value="Single">Single</option>
                                    <option value="Married">Married</option>
                                    <option value="Separated">Separated</option>
                                    </select>
                            </div>
                            <div class="input-field">
                                <label>Blood Group[{{employee.bloodgroup}}]</label>
                                <select name="bloodgroup" class="form-control" value="{{employee.bloodgroup}}" required>
                                    <option value="None">Select your Blood Group</option>
                                    <option value="A+">A+</option>
                                    <option value="B+">B+</option>
                                    <option value="O+">O+</option>
                                    <option value="A-">A-</option>
                                    <option value="B-">B-</option>
                                    <option value="AB">AB</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    
                        <div class="details ID">
                            <span class="title">Job Details</span>
    
                            <div class="fields">
                                <div class="input-field">
                                    <label>Employee ID</label>
                                    <input type="text" name="eid" placeholder="Enter your ID Number" value="{{employee.empid}}" required>
                                </div>
                            
                                <div class="input-field">
                                    <label>Joining Date[{{employee.joiningdate}}]</label>
                                    <input type="date" name="jd" placeholder="Enter Joining Date" value="{{employee.joiningdate}}">
                                </div>
                                <div class="input-field">
                                    <label>Work Location</label>
                                    <input type="text" name="wl" placeholder="Enter Your Work Location" value="{{employee.worklocation}}">
                                </div>

                                <div class="input-field">
                                    <label>Designation</label>
                                    <input type="text" name="des" value="{{emp.desg}}" placeholder="Enter Your Designation" >
                                    
                                </div>

                                <div class="input-field">
                                    <label>Total Work Experience</label>
                                    <input type="text" name="twe" placeholder="Enter your Total Work Experience" value="{{employee.workexperience}}"  >
                                </div>
                                
                                
                                <div class="input-field">
                                    <label>Department[{{emp.dept}}]</label>
                                    <select name="department" class="form-control" value="{{emp.dept}}" >
                                        <option value="none">Select Your Department</option>
                                        <option value="ADMIN">ADMIN</option>
                                        <option value="LIBRARY">LIBRARY</option>
                                        <option value="ACCOUNTS">ACCOUNTS</option>
                                       
                                    </select>
                                </div>
                                 
                            
                            
                            </div>
                           </div>
                

                
                    <div class="details address">
                        <span class="title">Present Address</span>

                        <div class="fields">
                            <div class="input-field">
                                <label>House Number</label>
                                <input type="text" value="{{employee.presenthousenum}}" name="presenthn" placeholder="Enter your House Number" >
                            </div>

                            <div class="input-field">
                                <label>Street Name</label>
                                <input type="text" name="presentsn" value="{{employee.presentstreet}}" placeholder="Enter Street Name"  >
                            </div>
                        
                            <div class="input-field">
                                <label>City</label>
                                <input type="text" name="presentcn" value="{{employee.presentcity}}" placeholder="Enter your City" >
                            </div>

                            <div class="input-field">
                                <label>District</label>
                                <input type="text" name="presentdn" value="{{employee.presentdist}}" placeholder="Enter your District" >
                
                            </div>

                            <div class="input-field">
                                <label>State[{{employee.presentstate}}]</label>
                                <select name="presentState" class="form-control" value="{{employee.presentstate}}" >
                                    <option value="None">Select State</option>
                                    <option value="Delhi">Delhi</option>
                                    <option value="Maharasatra">Maharashtra</option>
                                    <option value="West Bengal">West Bengal</option>
                                    <option value="Assam">Assam</option>
                                    <option value="Bihar">Bihar</option>
                                    <option value="Odisha">Odisha</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Uttarkhand">Uttarkhand</option>
                                </select>
                            </div>

                            <div class="input-field">
                                <label>Postal Code/Zip Code</label>
                                <input type="text" name="presentzip" value="{{employee.presentzip}}" placeholder="Enter your Postal Code"  >
                               
                            </div>
                        </div>
                    </div>
                    
                    <div class="details address">
                        <span class="title">Permanent Address</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>House Number</label>
                            <input type="text" name="permhn" value="{{employee.curhousenum}}" placeholder="Enter your House Number" >
                        </div>

                        <div class="input-field">
                            <label>Street Name</label>
                            <input type="text" name="permsn" value="{{employee.curstreet}}" placeholder="Enter Street Name"  >
                        </div>
                    
                        <div class="input-field">
                            <label>City</label>
                            <input type="text" name="permcn" value="{{employee.curcity}}" placeholder="Enter your City" >
                        </div>

                        <div class="input-field">
                            <label>District</label>
                            <input type="text" name="permdn" value="{{employee.curdist}}" placeholder="Enter your District" >
            
                        </div>

                        <div class="input-field">
                            <label>State[{{employee.curstate}}]</label>
                            <select name="permState" class="form-control" value="{{employee.curstate}}" >
                                <option value="None">Select Issued State</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Maharashtra">Maharashtra</option>
                                <option value="West Bengal">West Bengal</option>
                                <option value="Assam">Assam</option>
                                <option value="Bihar">Bihar</option>
                                <option value="Odisha">Odisha</option>
                                <option value="Punjab">Punjab</option>
                                <option value="Uttarkhand">Uttarkhand</option>
                            </select>
                        </div>


                        <div class="input-field">
                            <label>Postal Code/Zip Code</label>
                            <input type="text" name="permzip" placeholder="Enter your Postal Code" value="{{employee.curzip}}"  >
                           
                        </div>
                    </div>
                </div>


                    
                        <div class="details education">
                            <span class="title">Educational Details</span>
    
                            <div class="fields">
                                
                               
                                <div class="input-field1">
                                    <label>Name of Examination(10th Standard)</label>
                                    <input type="text" name="noe10" value="{{emp.noe10}}" placeholder="Enter Name of Examination" >
                                </div>
                                <div class="input-field1">
                                    <label>Board(10th Standard)</label>
                                    <input type="text" name="board10" value="{{emp.board10}}" placeholder="Enter Board Name" >
                                </div>

                                <div class="input-field1">
                                    <label>Marks Obtained % (10th Standard)</label>
                                    <input type="number" name="marks10" value="{{emp.marks10}}" placeholder="Enter Your Marks" id="float-input" name="float-input" 
                                    pattern="[0-9]*[.,]?[0-9]*" >
                                </div>

                                <div class="input-field1">
                                    <label>Year of Passing(10th Standard)[{{emp.yop10}}]</label>
                                    <input type="date" name="yop10" value="{{emp.yop10}}" placeholder="Enter Year" >
                                </div>

                                <div class="input-field1">
                                    <label>Name of Examination(12th Standard)</label>
                                    <input type="text" name="noe12" value="{{emp.noe12}}" placeholder="Enter Name of Examination" >
                                </div>
                                <div class="input-field1">
                                    <label>Board(12th Standard)</label>
                                    <input type="text" name="board12" value="{{emp.board12}}" placeholder="Enter Board Name" >
                                </div>

                                <div class="input-field1">
                                    <label>Marks Obtained % (12th Standard)</label>
                                    <input type="number" name="marks12" value="{{emp.marks12}}" placeholder="Enter Your Marks" id="float-input" name="float-input" 
                                    pattern="[0-9]*[.,]?[0-9]*" >
                                </div>

                                <div class="input-field1">
                                    <label>Year of Passing(12th Standard)[{{emp.yop12}}]</label>
                                    <input type="date" name="yop12" value="{{emp.yop12}}" placeholder="Enter Year" >
                                </div>

                                <div class="input-field1">
                                    <label>Degree(Graduation) </label>
                                    <input type="text" name="deg" value="{{emp.noedegree}}" placeholder="Enter Degree" >
                                </div>
                                <div class="input-field1">
                                    <label>University(Graduation) </label>
                                    <input type="text" name="uni" value="{{emp.uni}}" placeholder="Enter University Name" >
                                </div>

                                <div class="input-field1">
                                    <label>Marks Obtained % (Graduation)</label>
                                    <input type="number" name="marksdeg" value="{{emp.marksdeg}}" placeholder="Enter Your Marks" id="float-input" name="float-input" 
                                    pattern="[0-9]*[.,]?[0-9]*" >
                                </div>

                                <div class="input-field1">
                                    <label>Year of Passing(Graduation)[{{emp.yopdeg}}]</label>
                                    <input type="date" name="yopdeg" value="{{emp.yopdeg}}" placeholder="Enter Year" >
                                </div>

                                
                                </div>


                                















                            </div>
                        </div>
                        
                        
                        <div class="buttons">
                        <div class="submitBtn">
                            <button type="submit" value="Submit">SUBMIT</button>
                        </div>

                        <br>
                            <div class="resetBtn">
                            <button type="reset" value="Reset">RESET</button>
                            </div>
                        <br>
                        
                      
                     
                            
                                            
                                    
                                    

        
                                  
                            
                                 
                    
            </div>
        </form>
        <div class="logout-container" style="position: absolute;
        top: 10px; 
        right: 10px;">
            <button class="logout-button" style="background-color: #080707;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            transition: all 0.3s linear;"><a style="color: #fff;" href="/gobacktoadmin">Back to home</a></button>
        </div>
        
        
        
      </div>
    </div>
    {% if error == "no" %}
        <script>
            alert('profile updated successfully');
            
            
        </script>
    {% endif %}
    {% if error == "yes" %}
        <script>
            alert('Something went wrong. Try again....');

        </script>
    {% endif %}

    </body>
                    
    

</html>
